@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.font-content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 34px;
}
@layer utilities {
  .shadow-custom {
    box-shadow: 
      0 0 2px #fff, 
      inset 0 0 2px #fff, 
      0 0 5px oklch(var(--p)), 
      0 0 10px oklch(var(--s)), 
      0 0 15px oklch(var(--p));
  }
  
}
@keyframes neonAnimation {
  0% {
    box-shadow: 0 0 2px #fff,
     inset 0 0 2px #fff,
     0 0 5px oklch(var(--p)),
     0 0 10px oklch(var(--s)), 
     0 0 15px oklch(var(--p));
  }
  50% {
    box-shadow: 0 0 2px #fff,
     inset 0 0 2px #fff,
     0 0 10px oklch(var(--p)),
     0 0 20px oklch(var(--s)),
     0 0 30px oklch(var(--n));
  }
  100% {
    box-shadow: 0 0 2px #fff,
     inset 0 0 2px #fff,
     0 0 5px oklch(var(--p)),
     0 0 10px oklch(var(--s)), 
     0 0 15px oklch(var(--a));
  }
}
@layer utilities {
  .shadow-custom {
    animation: neonAnimation 2s infinite; /* Sesuaikan durasi animasi dan efek sesuai keinginan Anda */
  }
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: oklch(var(--a));
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: oklch(var(--p));
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: oklch(var(--s));
}